// 计算 x 的绝对值
push constant 0
pop argument 2
push constant 0
pop argument 3
push argument 0
push constant 0
lt
if-goto IS_NEGATIVE
push argument 0
pop argument 1
goto END
label IS_NEGATIVE
push constant 1
pop argument 2
push argument 0
neg
pop argument 1
goto END
label END

// 计算 x^2
push argument 1  
pop local 1       

push constant 0
pop local 0       

label LOOP_START
push local 1    
push constant 0
eq              
if-goto LOOP_END  

push local 0    
push argument 1 
add           
pop local 0   

push local 1
push constant 1
sub
pop local 1

goto LOOP_START
label LOOP_END

push local 0
